@import url('//fonts.googleapis.com/css?family=Roboto');

:host {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  h1 {
    width: 100%;
    text-align: center;
  }
}
