@import 'base';
@import url(https://fonts.googleapis.com/css?family=Roboto);

:host {
  font-family: Roboto, sans-serif;
  padding: 20px;
  h1 {
    color: $accent;
    font-weight: 400;
    font-size: 5vh;
    width: 100%;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
}
