@import 'base';

:host {

  md-card {
    margin: 0 16px 16px 0;
    width: 300px;

    a {
      color: $accent;
      margin-right: 5px;
      margin-left: 5px;
      display: inline-block;
    }
  }
}
